@import url("https://fonts.googleapis.com/css?family=Roboto:700");

body{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:0px;
    font-family: "Roboto";
    text-align: center;
}

div#header{
    position: sticky;
    margin: 1% 12.6%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

a{
    color: #999;
    padding: 1rem;
    text-decoration: none;
}

a:hover{
    color: #ff8000;
}

a.brand{
    font-size: 1.4rem;
    font-weight: bold;
}

div#content{
    position: sticky;
    display: flex;
    flex-wrap: wrap-reverse;
}

#container{
    position: sticky;
    margin: auto;
    width: fit-content;
    color: #999;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
}

#flip{
    height: 50px;
    overflow: hidden;
}

#flip>div>div{
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child{
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;
}

#flip div:first-child div{
    background: #4ec7f3;    
}

#flip div:last-child div{
    background: #dc143c;
}

@keyframes show{
    0%{margin-top: -270px;}
    5%{margin-top: -180px;}
    33%{margin-top: -180px;}
    38%{margin-top: -90px;}
    66%{margin-top: -90px;}
    71%{margin-top: 0px;}
    99.99%{margin-top: 0px;}
    100%{margin-top: -270px;}
}

p{
    font-size: 12px;
    color: #999;
}


div#figure{
    max-width: 600px;
    width: 100%;
}

svg#svg{
    display: flex;
    flex-wrap: nowrap;
    margin: -27% 0%;
}


.background{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;        
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 35px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}




